In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
#set up slpinter
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\megan\.wdm\drivers\chromedriver\win32\92.0.4515.107]

## Visit the NASA Mars News Site

In [3]:
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

In [4]:
#allows browser to wait until loading
browser.is_element_present_by_css("div.list_text", wait_time=1)

True

In [5]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')

In [6]:
slide_elem = news_soup.select_one('div.list_text')
slide_elem.find('div', class_='content_title')

In [7]:
# Use the parent element to find the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus"

In [8]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars."

In [9]:
mars_data ={}
mars_data["news_title"]= news_title
mars_data["news_p"]=news_p
mars_data

{'news_title': "While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus",
 'news_p': "This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars."}

## JPL Images featured Image

In [10]:
#visit the url

jpl_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_url)
time.sleep(1)

In [11]:
# Find and click the full image button
#browser.find_by_tag("FULL IMAGE")

image_soup = soup(html, "html.parser")
image = image_soup.find('div', class_="headerimage fade-in")

In [12]:
# Parse the resulting html with soup
featured_image_url = 'https://spaceimages-mars.com/{image}'
featured_image_url

'https://spaceimages-mars.com/{image}'

Mars Facts

In [39]:
# URL for Mars Facts
facts_url = "https://galaxyfacts-mars.com/"
facts_tables = pd.read_html(facts_url)
df_mars_facts = facts_tables[1]
facts_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [43]:
df =facts_tables[0]
df.columns = ["Mars_Planet_Profile", "Value1", "Value2"]
df

       Mars_Planet_Profile           Value1           Value2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
df_mars_facts.columns = ['Description', 'Value']
df_mars_facts.set_index('Description', inplace=True)

In [15]:
mars_facts = df_mars_facts.to_html(header=True, index=True)
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [16]:
astrogeo_url = "https://marshemispheres.com/"
browser.visit(astrogeo_url)

In [17]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
astrogeo_soup = soup(html, 'html.parser')

In [18]:
h3 = astrogeo_soup.find_all("h3")

In [19]:
titles =[]
for h3 in h3:
    h3 = str(h3)
    h3 = h3[4:-14]
    titles.append(h3)
titles

['Cerberus Hemisphere',
 'Schiaparelli Hemisphere',
 'Syrtis Major Hemisphere',
 'Valles Marineris Hemisphere',
 '']

In [20]:
main_astrogeo_url = "https://marshemispheres.com/"

In [21]:
hems_url = astrogeo_soup.find_all("div", class_="item")
hemis_url =[]

In [22]:
for hem in hems_url:
    hem_url = hem.find('a')['href']
    hemis_url.append(hem_url)
    
hemis_url

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [23]:
hemispere_image_urls = []
for hemi in hemis_url:
    hem_astrogeo_url = main_astrogeo_url + hemi
    print(hem_astrogeo_url)

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html

In [28]:
browser.visit(hem_astrogeo_url)

In [29]:
html = browser.html

In [30]:
hemi_soup = soup(html, "html.parser")

In [31]:
raw_title = hemi_soup.find("h2", class_="title").text

In [32]:
title = raw_title.split('Enhanced')[0]

In [33]:
img_url = hemi_soup.find("li").a["href"]

In [35]:
hemisphere_image_urls.append({"title": title, "img_url": img_url})

In [36]:
print(hemisphere_image_urls)

[{'title': 'Valles Marineris Hemisphere ', 'img_url': 'images/valles_marineris_enhanced-full.jpg'}]

Mars Data Dictionary- MongoDB